<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <meta charset="UTF-8">
    <title>小鎮村美食大數據分析</title>

</head>

<style>

d3.selectAll('p').style("color","white");

</style>

<body>
//測試視窗彈出
<script type="text/javascript">
    window.alert('Hello 小鎮村!');
</script>
<h1>小女警美食分析</h1>
<h1>美食文字探勘視覺分析</h1>


<script>
// 測試js function
var myData = [1,2,3,4,5];
d3.select('body')
    .selectAll('div')
      .data(myData)
      .enter()
      .append('div')
        .text(function(d){return d;});

</script>

<select name="數據分析選項">
    <option value="北">北部</option>
    <option value="中">中部</option>
    <option value="南">南部</option>
    <option value="東">東部</option>
</select>

<select name="附近學校">
    <option value="univerty01">台灣大學</option>
    <option value="univerty02">政治大學</option>
    <option value="univerty03">中山大學</option>
    <option value="univerty04">中正大學</option>
    <option value="univerty05">東華大學</option>
</select>

<select name="食物甜點選單">
    <option value="甜點">藍莓蛋糕</option>
    <option value="甜點">草莓大福</option>
    <option value="甜點">布朗尼</option>
    <option value="甜點">水果塔</option>
</select>

<select name="食物價格區間">
    <option value="甜點">100元以內</option>
    <option value="甜點">100~200元</option>
    <option value="甜點">200~300元</option>
    <option value="甜點">300元以上</option>
</select>



<h3>資料分析: 小鎮村團隊</h3>

</body>
</html>